.notifications{
    width:100%;
}

.title{
    padding:14px;
    border-bottom: 1px solid #eee;
}

.resultListItem{
    padding:14px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #eee;
}