.notifications{
    width:100%;
}

.title{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:14px;
    padding-bottom: 0;
    border-bottom: 1px solid #eee;
}

.markAsOpened{
    background:none;
    outline: none;
    border: none;
    cursor: pointer;
    color: rgb(0, 162, 255);
}


.notifications .resultListItem{
    padding:6px;
    color:#000;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #eee;
}

.notifications .resultListItem:hover{
    background-color:#F2F2F2;
    color:#000;
}

.notifications .resultListItem.active{
    background-color:#ceebf8;
}


.notifications .resultListItem img{
    height:90%;
    width:90%;
    border-radius: 50%;
}

.notifications .resultsImageContainer{
    height:50px;
    width:50px;
    position: relative;
    margin-right: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.ellipsis{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}