.chats{
    width:100%;
}

.title{
    padding:14px;
    border-bottom: 1px solid #eee;
}

.resultListItem{
    padding:14px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #eee;
}

.resultListItem:hover{
    background-color:#F2F2F2;
}

.resultDetailsContainer{
    display: flex;
    flex-direction: column;
    flex:1;
}

.resultDetailsContainer .heading{
    font-weight: 500;
    color: #000;
}

.resultDetailsContainer .subText{
    color:#999;
    font-size: 14px;
}

.resultListItem img{
    height:65%;
    width:65%;
    border-radius: 50%;
    position:absolute;
    bottom: 0;
    margin:0;
    border:2px solid #fff;
}

.resultListItem img:first-of-type{
    top:0;
    right:0;
}

.resultsImageContainer{
    height:40px;
    width:40px;
    position: relative;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding:5px;
}

.ellipsis{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}